In [4]:
# ! pip install duckdb pandas
# ! pip install ipykernel
# ! pip show ipykernel
# ! pip show duckdb pandas

In [6]:
import duckdb

# SQL 直接查询 CSV 文件
result = duckdb.query("""
    SELECT itemid, valuenum
    FROM '/public/home/aojiang/mimic/hosp/labevents.csv'
    WHERE valuenum IS NOT NULL
    LIMIT 10
""").to_df()

print(result)

   itemid  valuenum
0   50931      95.0
1   50853      15.0
2   50861     102.0
3   50862       3.3
4   50863     109.0
5   50864       8.0
6   50868      12.0
7   50878     143.0
8   50882      27.0
9   50885       1.6

In [1]:
import duckdb

duckdb.sql("""
    SELECT * FROM '/public/home/aojiang/mimic/hosp/labevents.csv'
    WHERE valuenum > 100
    LIMIT 5
""").df()

,labevent_id,subject_id,hadm_id,specimen_id,itemid,order_provider_id,charttime,storetime,value,valuenum,valueuom,ref_range_lower,ref_range_upper,flag,priority,comments
0,11,10000032,<NA>,83925500,50861,P69FQC,2180-03-23 11:51:00,2180-03-23 16:40:00,102,102.0,IU/L,0.0,40.0,abnormal,ROUTINE,None
1,13,10000032,<NA>,83925500,50863,P69FQC,2180-03-23 11:51:00,2180-03-23 16:40:00,109,109.0,IU/L,35.0,105.0,abnormal,ROUTINE,None
2,16,10000032,<NA>,83925500,50878,P69FQC,2180-03-23 11:51:00,2180-03-23 16:40:00,143,143.0,IU/L,0.0,40.0,abnormal,ROUTINE,None
3,21,10000032,<NA>,83925500,50902,P69FQC,2180-03-23 11:51:00,2180-03-23 16:40:00,101,101.0,mEq/L,96.0,108.0,None,ROUTINE,None
4,24,10000032,<NA>,83925500,50905,P69FQC,2180-03-23 11:51:00,2180-03-23 16:40:00,135,135.0,mg/dL,0.0,129.0,abnormal,ROUTINE,None